@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.icon {
  filter: brightness(0) saturate(100%) invert(63%) sepia(8%) saturate(244%) hue-rotate(217deg) brightness(99%)
    contrast(90%);
  width: 24px;
  height: 24px;
}

.form__active {
  padding-right: 16px;

  @include media-breakpoint-down(md) {
    padding-right: 0;
    padding: 0 10px;
  }

  @include media-breakpoint-down(sm) {
    padding-right: 0;
    padding: 0 10px;
  }
}

.currentImage {
  margin-bottom: 10px;
  width: 100%;
  min-width: 300px;
  height: 200px;
  object-fit: contain;
  border-radius: 4px;
  background-color: transparent;
}

:global {
  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(70%);
  }
}
