@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.dashboard {
  width: 100%;
  height: auto;
  padding: 20px 40px;
  background-color: #f2f8f8;

  @include media-breakpoint-down(lg) {
    padding: 8px 12px;
    width: 100vw;
    margin-top: -10px;
  }

  @include media-breakpoint-down(md) {
    padding: 8px 12px;
    width: 100%;
    margin-top: -10px;
  }

  &-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    .sort-box-wrapper {
      position: relative;

      .sort-box {
        width: 100px;
        height: 35px;
        border: 1px solid rgb(173, 180, 189);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 8px;
        border-radius: 4px;
        transition: border 0.3s linear;
        font-size: 15px;
        background-color: #fff;

        .arrow-down-icon {
          transform: rotate(0);
          transition: transform 0.3s linear;

          &--active {
            transform: rotate(180deg);
          }
        }

        @include media-breakpoint-down(lg) {
          width: 120px;
          height: 45px;
          font-size: 1.6rem;
        }

        @include media-breakpoint-down(md) {
          width: 110px;
        }
      }

      .sort-box:hover {
        border: 1px solid var(--primary-bg);
        cursor: pointer;
      }

      .sort-box-menu {
        position: absolute;
        animation: fade 0.3s linear;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        width: 100%;
        border-radius: 4px;
        font-size: 15px;
        background-color: #fff;
        margin-top: 4px;

        @keyframes fade {
          0% {
            opacity: 0.4;
          }

          100% {
            opacity: 1;
          }
        }

        @include media-breakpoint-down(lg) {
          font-size: 1.6rem;
        }

        .sort-item {
          padding: 8px;
          background-color: #fff;
          transition: background-color 0.2s ease;

          @include media-breakpoint-down(lg) {
            padding: 10px;
          }
        }

        .sort-item:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        .sort-item:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        .sort-item:hover {
          background-color: #d8f0df;
          cursor: pointer;
        }
      }
    }
  }

  h1 {
    margin-bottom: 8px;
    font-size: 2.4rem;
    font-weight: 600;
    @include media-breakpoint-down(lg) {
      margin-top: 10px;
    }
  }

  &--pape {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }

    &--item {
      grid-column: span 3;
      background-color: #fff;
      display: flex;
      padding: 24px;
      border-radius: 6px;
      border-left: 4px solid var(--dashboard-border);

      @include media-breakpoint-down(lg) {
        grid-column: span 1;
      }

      @include media-breakpoint-down(md) {
        grid-column: span 1;
      }

      img {
        margin-right: 24px;
      }
      h2 {
        font-size: 1.8rem;
        font-weight: 600;
      }
      h3 {
        font-size: 1.4rem;
        font-weight: 600;
        color: #919eab;
      }
    }

    &--chart {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      &-column {
        grid-column: span 8;
        .revenue-header {
          display: flex;
          justify-content: space-between;
        }

        @include media-breakpoint-down(lg) {
          grid-column: span 2;
        }
        @include media-breakpoint-down(md) {
          grid-column: span 1;
        }
      }

      &-circle {
        grid-column: span 4;
        @include media-breakpoint-down(lg) {
          grid-column: span 2;
        }
        @include media-breakpoint-down(md) {
          grid-column: span 1;
        }
      }

      &-column,
      &-circle {
        background-color: #fff;
        width: 100%;
        height: auto;
        border-radius: 16px;
        padding: 24px;

        h5 {
          font-size: 1.8rem;
          font-weight: 600;
        }

        p {
          font-size: 1.4rem;
          color: #637381;
        }
      }
    }

    .dashboard-revenue-chart {
      grid-column: span 8;
      background-color: #fff;
      border-radius: 12px;
      padding: 24px;
      height: 100%;

      &-header {
        h5 {
          font-weight: 600;
          font-size: 1.8rem;
        }
      }

      @include media-breakpoint-down(lg) {
        grid-column: span 2;
      }

      @include media-breakpoint-down(md) {
        grid-column: span 1;
      }

      @include media-breakpoint-down(sm) {
        grid-column: span 1;
      }
    }

    .dashboard-container {
      grid-column: span 12;
      height: auto;
      border-radius: 12px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;

      @include media-breakpoint-down(lg) {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-down(md) {
        grid-column: span 1;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

      @include media-breakpoint-down(sm) {
        grid-column: span 1;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

      .hybrid-chart {
        grid-column: span 9;
        width: 100%;
        background-color: #fff;
        padding: 24px;
        border-radius: 12px;
        flex-direction: column;
        justify-content: space-between;

        h5 {
          font-size: 1.8rem;
          font-weight: 600;
          margin-bottom: 32px;
        }

        @include media-breakpoint-down(lg) {
          grid-column: span 1;
        }

        @include media-breakpoint-down(md) {
          grid-column: span 1;
        }

        @include media-breakpoint-down(sm) {
          grid-column: span 1;
        }
      }

      .group-chart-wrapper {
        grid-column: span 3;
        border-radius: 12px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
          grid-column: span 1;
        }

        @include media-breakpoint-down(md) {
          grid-column: span 1;
        }

        @include media-breakpoint-down(sm) {
          grid-column: span 1;
        }

        .group-chart {
          background-color: #fff;
          padding: 16px;
          border-radius: 12px;
          margin: 10px 0;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-left {
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;
              // background-color: red;
              span {
                font-size: 1.4rem;
                color: #637381;
                margin: 8px 0;
              }
            }
          }

          @include media-breakpoint-down(lg) {
            grid-column: span 2;
          }

          @include media-breakpoint-down(md) {
            grid-column: span 1;
          }

          @include media-breakpoint-down(sm) {
            grid-column: span 1;
          }
        }

        .group-chart:first-child {
          margin-top: 0;
        }

        .group-chart:last-child {
          margin-bottom: 0;
        }
      }
    }

    .recent-orders {
      grid-column: span 12;
      width: 100%;
      background-color: #fff;
      border-radius: 12px;
      padding: 24px;

      h5 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 16px;
      }

      @include media-breakpoint-down(lg) {
        overflow-x: hidden;
        grid-column: span 2;
      }

      @include media-breakpoint-down(md) {
        overflow-x: hidden;
        grid-column: span 1;
      }

      @include media-breakpoint-down(sm) {
        overflow-x: hidden;
        grid-column: span 1;
      }
    }

    .top-products {
      grid-column: span 12;
      width: 100%;
      background-color: #fff;
      border-radius: 12px;
      padding: 24px;

      @include media-breakpoint-down(lg) {
        overflow-x: hidden;
        grid-column: span 2;
      }

      @include media-breakpoint-down(md) {
        overflow-x: hidden;
        grid-column: span 1;
      }

      @include media-breakpoint-down(sm) {
        overflow-x: hidden;
        grid-column: span 1;
      }

      h5 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 16px;
      }

      &-header {
        display: flex;
        justify-content: space-between;

        .btn-left,
        .btn-right {
          background-color: #fff;

          .icon {
            width: 30px;
            height: 30px;
            filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(173deg) brightness(99%)
              contrast(103%);
            transition: 0.3s linear;
          }

          .icon:hover {
            filter: brightness(0) saturate(100%) invert(77%) sepia(61%) saturate(6057%) hue-rotate(107deg)
              brightness(90%) contrast(100%);
          }
        }

        .btn-left {
          margin-right: 12px;
        }

        .btn-left:hover,
        .btn-right:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.pie-chart,
.bar-chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global {
  .recharts-rectangle {
    width: 10px;
  }
}
