@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.modal {
  position: relative;

  &__content {
    max-height: 450px;
    min-width: 600px;
    overflow: auto;

    @include media-breakpoint-down(md) {
      min-width: 500px;
    }
    @include media-breakpoint-down(sm) {
      min-width: initial;
    }
  }

  &__btn {
    width: 120px;

    @include media-breakpoint-down(md) {
      width: 100px;
    }

    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}
