@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .toast-container {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.button-menu {
  display: flex;
  height: 58px;
  align-items: center;

  .icon-wrap {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: 0.3s linear;

    .menu-icon {
      width: 12px;
      height: 12px;

      @include media-breakpoint-down(md) {
        width: 10px;
        height: 10px;
      }
    }
  }

  .icon-wrap:hover {
    background-color: #d8f0df;
    cursor: pointer;
  }

  .menu-logo {
    width: 120px;
    height: 49px;
    margin-top: 10px;
    background-color: #fff;

    @include media-breakpoint-down(md) {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
    .haui-logo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.button-group {
  display: flex;

  .btn-flag,
  .btn-notification,
  .btn-user {
    width: 44px;
    height: 44px;
    border-radius: 100rem;
    transition: 0.3s linear;

    @include media-breakpoint-down(md) {
      width: 32px;
      height: 32px;
      border-radius: 100rem;
    }
  }

  .btn-flag,
  .btn-notification {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-flag:hover,
  .btn-notification:hover,
  .btn-user:hover {
    cursor: pointer;
  }

  .btn-flag:hover,
  .btn-notification:hover {
    background-color: #d8f0df;
  }

  .btn-notification {
    margin: 0 20px;

    .bell-icon {
      width: 20px;
      height: 20px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 8px;
    }
  }

  .btn-user {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100rem;
      border: 2px solid rgba(159, 159, 159, 0.4);
      transition: 0.3s linear;
    }

    img:hover {
      border: 2px solid #d8f0df;
    }
  }
}

.flag-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  .lang-menu-open {
    background-color: #d8f0df;
  }

  .lang-menu {
    position: absolute;
    z-index: 2;
    top: 52px;
    right: 0px;
    width: auto;
    height: auto;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s linear;
    background-color: #fff;

    &-active {
      transform: scale(1);
    }

    .lang-item {
      display: flex;
      height: 40px;
      width: 160px;
      text-wrap: nowrap;
      padding: 6px 10px;
      align-items: center;
      justify-content: space-between;
      span {
        text-transform: capitalize;
        // margin-left: 10px;
      }

      .current-lang {
        background-color: #00ba5141;
      }
    }

    .lang-item:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .lang-item:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .lang-item:hover {
      background-color: #d8f0df;
      cursor: pointer;
    }
  }
  .lang-img {
    width: 28px;
    height: 20px;
    border-radius: 2px;

    @include media-breakpoint-down(md) {
      width: 24px;
      height: 16px;
      border-radius: 2px;
    }
  }
}

.admin-menu-wrapper {
  position: relative;

  .admin-menu {
    position: absolute;
    width: auto;
    width: 240px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;
    right: 0;
    margin-top: 16px;
    border-radius: 6px;
    animation: showMenu 0.2s linear;

    @keyframes showMenu {
      0% {
        transform: translateY(10%);
        opacity: 0.6;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .admin-infor {
      display: flex;
      border-bottom: 1px solid #eff1f5;
      padding: 12px 16px;

      .image-wrapper {
        width: 36px;
        height: 36px;
        margin-right: 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100rem;
        }
      }

      .admin-detail {
        h5 {
          font-size: 14px;
          margin: 0;
        }
        span {
          font-size: 13px;
          color: #969ba2;
        }
      }
    }
  }

  .admin-button-group {
    padding: 6px 0;

    .account,
    .logout {
      padding: 4px 20px;
      font-size: 14px;
      display: flex;
      align-items: center;
      transition: 0.2s linear;
    }

    .account:hover,
    .logout:hover {
      background-color: #d8f0df;
      cursor: pointer;
    }

    .account {
      .setting-icon {
        margin-left: -4px;
      }
    }

    .setting-icon {
      width: 24px;
      height: 24px;
      filter: brightness(0) saturate(100%) invert(63%) sepia(87%) saturate(33%) hue-rotate(185deg) brightness(92%)
        contrast(95%);
      margin-right: 8px;
    }

    .logout-icon {
      width: 16px;
      height: 16px;
      filter: brightness(0) saturate(100%) invert(63%) sepia(87%) saturate(33%) hue-rotate(185deg) brightness(92%)
        contrast(95%);
      margin-right: 12px;
    }
  }
}
