.modal {
  &__heading {
    font-size: 2rem;
    font-weight: 600;
    list-style: 1.5;
    text-align: center;
  }

  &__desc {
    margin-top: 8px;
    font-size: 1.5rem;
    color: #a8afb9;
  }

  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
}
