@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.wrapper {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #fff;
  gap: 20px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .left-content {
    grid-column: span 3;
    background-color: #f6f6f6;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px 1px rgba(27, 31, 35, 0.15);
    align-self: start;

    @include media-breakpoint-down(lg) {
      grid-column: span 4;
    }

    @include media-breakpoint-down(md) {
      grid-column: span 2;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      grid-column: span 2;
      width: 100%;
    }

    .delivery-gif {
      width: 100%;
      height: 280px;

      @include media-breakpoint-down(lg) {
        width: 100%;
        height: 360px;
      }

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .delivering {
    box-shadow: 0px 3px 8px rgba(57, 206, 57, 0.24);
  }

  .orders {
    grid-column: span 9;
    background-color: #f6f6f6;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
    position: relative;

    @include media-breakpoint-down(lg) {
      grid-column: span 4;
    }

    @include media-breakpoint-down(md) {
      grid-column: span 2;
      padding: 0;
    }

    @include media-breakpoint-down(sm) {
      grid-column: span 2;
      padding: 0;
    }

    h1 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 30px;
      @include media-breakpoint-down(md) {
        padding: 20px;
      }

      @include media-breakpoint-down(sm) {
        grid-column: span 2;
        padding: 20px;
      }
    }

    hr {
      background-color: rgb(168, 168, 168, 0.4);
      height: 1px;
      border: none;
    }

    .category {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(5, 1fr);
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      .category-item {
        grid-column: span 1;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 12px;
        cursor: pointer;
        transition: color 0.3s ease;

        &::after {
          content: '';
          position: absolute;
          bottom: -2px; // Đặt dưới dòng văn bản một chút
          left: 0;
          width: 0;
          height: 2px;
          background-color: #00ba51; // Màu của border-bottom
          transition: width 0.3s ease, left 0.3s ease;
        }

        &.active {
          color: #00ba51;

          &::after {
            width: 100%;
            left: 0;
          }
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .empty-orders {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 12px;

    .image {
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      font-size: 18px;
      font-weight: normal;
      margin-top: 20px;
    }
  }

  .order-wrapper {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px 20px;
    margin: 20px 0;
    position: relative;

    .user-information {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user-container {
        display: flex;
        align-items: center;

        .user-image {
          width: 40px;
          height: 40px;
          border-radius: 100rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100rem;
          }
        }

        span {
          margin-left: 12px;
        }
      }

      .arrow-button {
        width: 20px;
        height: 20px;
        background-color: #fff;
        .icon {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s;
          transform: rotate(0);
        }

        .change {
          transform: rotate(180deg);
        }
      }
    }
    .product-container {
      margin-top: 20px;
      transition: all 0.3s linear;
      height: 100%;

      .product-wrapper {
        width: 100%;
        border-bottom: 1px dashed rgb(204, 204, 204);
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down(md) {
          position: relative;
        }

        @include media-breakpoint-down(sm) {
          position: relative;
        }

        .product-desc-container {
          display: flex;

          .image-wrapper {
            width: 120px;
            height: 120px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 4px;
              transition: opacity 0.3s linear; /* Add transition for img */
            }

            .change {
              opacity: 0;
              transition: opacity 0.3s linear; /* Ensure .change has transition */
            }
          }

          .desc {
            margin-left: 20px;

            @include media-breakpoint-down(md) {
              width: 60%;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .describe {
              margin: 14px 0;
            }
          }
        }

        .price {
          font-size: 18px;
          color: #00ba51;
          font-weight: 500;

          @include media-breakpoint-down(md) {
            font-size: 16px;
            position: absolute;
            bottom: 20px;
            right: 10px;
          }
        }
      }

      .first-product-wrapper {
        border-top: 1px dashed rgb(204, 204, 204);
      }
    }

    .hidden {
      transform: scaleY(0);
      opacity: 0;
      height: 0;
      margin-top: 0;
      transition: all 0.3s linear;
    }

    .product-desc {
      padding: 20px 0;

      .address {
        font-weight: 500;
        margin: 7.5px 0;
      }
      .note {
        font-weight: 500;
        margin: 7.5px 0;
      }
      .time {
        font-weight: 500;
        margin: 7.5px 0;
      }
      .payment {
        font-weight: 500;
        margin: 7.5px 0;
      }

      .total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        color: #00ba51;
        font-weight: 500;
        margin-top: 20px;
      }

      &-active {
        border-top: 1px dashed rgb(204, 204, 204);
        margin-top: 20px;
      }
    }

    .group-btn {
      width: auto;
      display: flex;
      height: 44px;

      .btn-cancel {
        height: 100%;
        width: 12vw;
        border-radius: 8px;
        font-size: 16px;
        background-color: #ff0000;
        color: #fff;
        font-weight: 500;
        margin-right: 8px;
        text-wrap: nowrap;

        @include media-breakpoint-down(lg) {
        }

        @include media-breakpoint-down(md) {
          width: 100%;
          padding: 0 12px;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;
          padding: 0 12px;
        }

        &-change-width {
          margin-top: 20px;
        }
      }
      .btn-cancel:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .btn-active {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      height: auto;
      margin-top: 20px;

      .btn-restore {
        height: 44px;
        width: 12vw;
        border-radius: 8px;
        font-size: 16px;
        background-color: #00ba51;
        color: #fff;
        font-weight: 500;
        text-wrap: nowrap;

        @include media-breakpoint-down(lg) {
        }

        @include media-breakpoint-down(md) {
          width: 100%;
          padding: 0 12px;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;
          padding: 0 12px;
        }

        &-change-width {
          margin-top: 20px;
        }
      }

      .btn-restore:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}

.skeleton-wrapper {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 145px;
}

.skeleton {
  width: 97%;
  height: 350px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @include media-breakpoint-down(md) {
    top: 255px;
    width: 100%;
    border-radius: 0;
  }

  &-header {
    display: flex;
    align-items: center;

    &-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ccc;
    }

    &-name {
      width: 30%;
      height: 30px;
      border-radius: 8px;
      background: #ccc;
      margin-left: 8px;
    }
  }

  &-content {
    height: 56%;
    border-radius: 8px;
    background: #ccc;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
  }

  &-line-one {
    width: 80%;
    height: 32px;
    border-radius: 8px;
    background-color: #ccc;
    margin-top: 10px;
  }

  &-line-two {
    width: 60%;
    height: 32px;
    border-radius: 8px;
    background-color: #ccc;
    margin-top: 10px;
  }

  &-header-image:before,
  &-content:before {
    content: '';
    height: 100%;
    width: 100%;
    // border-radius: 100rem;
    animation: slide 0.4s infinite;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(45deg, rgba(229, 229, 229, 0), rgba(255, 255, 255, 0.6), rgba(229, 229, 229, 0));
    animation: shimmer 2s linear infinite;

    @keyframes shimmer {
      100% {
        left: 100%;
      }
    }
  }
}
