@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.user {
  padding: 20px 40px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    padding: 20px;
  }

  &__heading {
    margin-bottom: 8px;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__list {
    width: auto;
    min-height: 400px;
    overflow: auto;
  }
}
