@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.user {
  padding: 20px 40px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    padding: 20px;
  }

  &__heading {
    margin-bottom: 8px;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__list {
    width: auto;
    min-height: 400px;
    overflow: auto;
  }
}

:global {
  .toolbar {
    position: relative;
    // align-items: ;

    @include media-breakpoint-down(md) {
      height: 120px;
      align-items: start !important;
    }

    @include media-breakpoint-down(sm) {
      align-items: start !important;
      height: 120px;
    }

    .text-field {
      @include media-breakpoint-down(md) {
        position: absolute;
        margin-top: 10px;
        margin-bottom: 80px;
        width: 90%;
      }

      @include media-breakpoint-down(sm) {
        position: absolute;
        margin-top: 50px;
        margin-bottom: 20px;
      }
    }
  }
}
