@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.user {
  padding: 20px 40px;

  &__heading {
    margin-bottom: 8px;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__list {
    width: auto;
    height: 400px;
  }
}

:global {
  .css-1whpjm6-MuiToolbar-root,
  .css-10cbwbc-MuiTableRow-root.Mui-selected {
    background-color: rgba(140, 238, 184, 0.3) !important;
  }
}
